@import "tailwindcss";
/*@tailwind base;*/
@tailwind utilities;
@tailwind utilities;

*{
  font-family: Outfit;
}

.nav-link{
  font-family: 'Ovo', sans-serif;
}

h3{
  font-family: 'Ovo', sans-serif;
}

li:hover{
  background-color: var(--hover-color);
}

